
{% extends "main.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
  {{ super() }}

  <!-- Additional styles for landing page -->
  <style>

    /* Application header should be static for the landing page */
    
    .md-header {
      position: initial;
      transition: background-color 125ms, transform 125ms cubic-bezier(.1,.7,.1,1), box-shadow 0ms;
    }
  

    /* Remove spacing, as we cannot hide it completely */
    .md-main__inner {
      margin: 0;
    }

    .md-tabs {
      transition: background-color 125ms, transform 125ms cubic-bezier(.1,.7,.1,1), box-shadow 0ms;
    }
    
    /* Hide main content for now */
    .md-content {
      display: none;
    }

    /* Hide table of contents */
    @media screen and (min-width: 60em) {
      .md-sidebar--secondary {
        display: none;
      }
    }

    /* Hide navigation */
    @media screen and (min-width: 76.25em) {
      .md-sidebar--primary {
        display: none;
      }
    }


        /* Hide footer */
        @media screen and (min-width: 60em) {
      .md-main {
        background: linear-gradient(to top, var(--md-primary-fg-color--light) 90%,white);
        --md-default-bg-color: white;
      }
    }
  </style>

  <!-- Hero for landing page -->
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">

        <!-- Hero image -->
        <div class="mdx-hero__image">
          <img
            src="https://www.unilasalle.fr/sites/default/files/styles/header_page/public/bandeau/2023nov14_Inaugurayion_Usine_Ecole_head.jpg"
            alt=""
            draggable="false"
          >
        </div>

        <!-- Hero content -->
        <div class="mdx-hero__content">
          <h1>Hub usine école 4.0</h1>

              <p>{{ config.site_description }}.</p>
          <h2>Formations proposées</h2> <!-- Présentation de la formation année / année -->
          
          <p>Description des enseignements année par année.</p>
          
          <h2>Modalités de formation</h2> <!-- Stage / Alternance / CP -->
          
          <p>Schema type: FISE vs FISA + Contrat PRO</p>
          
          
          <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary">
            Commencer à apprendre
          </a>
          <h2>Nous contacter</h2>
        </div>
  
      </div>
    </div>
  </section>
{% endblock %}

<!-- Content -->
{% block content %}{% endblock %}

<!-- Application footer -->
{% block footer %}{% endblock %}